<div class="container">
  <!-- <app-cockpit 
    (srvCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)">
  </app-cockpit>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <app-server-element 
      *ngFor="let server of serverElements"
      [srvElement]="server">
      
      <p>
        <strong *ngIf="server.type === 'server'" style="color: red">{{ server.scontent }}</strong>
        <em *ngIf="server.type === 'blueprint'">{{ server.scontent }}</em>
      </p>

      </app-server-element>
    </div>
  </div> -->

  <app-a4-game-control (numberGen)="onGen($event)"></app-a4-game-control>
  <div class="col-xs-12" *ngFor="let els of oddeveElements">
    <app-a4-odd *ngIf="els.divisible == 1" [oddElement]="els.num"></app-a4-odd>
    <app-a4-even *ngIf="els.divisible == 0" [evenElement]="els.num"></app-a4-even>
  </div>
</div>